{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheet %}

    <link rel="stylesheet" href="{{ asset('css/fosuser/css/style.css') }}">

{%  endblock %}
<div class="logo-img" style="display: flex">
    <img src="{{ asset('images/sayHi.png') }}" height="50" style="padding:4px Opx;"><H4 class="head-logo" style="font-size: 22px;padding-top:19px; color: white;">SayHello</H4>
</div>


<div class="box">
    <h1>Login</h1>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label id="icon" for="username" class="login-label"><i class="fa fa-user "></i></label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" onfocus="this.value= '' ;" onblur="if(this.value==''){this.value='{{ 'security.login.username'|trans }}'};"  />

        <label id="icon" for="password" class="login-label"><i class="fa fa-shield "></i></label>
        <input type="password" id="password" name="_password" required="required" onfocus="this.value= '' ;" onblur="if(this.value==''){this.value='{{ 'security.login.password'|trans }}'};" />
        <div class="options">
            <input type="checkbox" id="remember_me" name="_remember_me" checked />
            <span class="remember_me">{{ 'security.login.remember_me'|trans }}</span>

            <input type="submit" class="button" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>

        {% if error %}
            <div class="error_login">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
    </form>
</div>
<div class="kercode" style="display:flex; justify-content: flex-end ; flex-direction: column">
    <img src="{{ asset('images/logo-kercode.png') }}" height="50" style="align-self: flex-end"><h4 style="align-self: flex-end">By Simplon</h4>
</div>
